.main-header{
    padding: 20px 30px;
    display: flex;
    align-items: center;
    background-color: #282727;
    color: white;
  }
  .header-text {
    font-size: 32px;
    margin-left: 10px;
  }
    
  .passage-logo {
    background-image: url('https://storage.googleapis.com/passage-docs/passage-logo-dark.svg');
    background-repeat: no-repeat;
    width: 60px;
    height: 60px;
    cursor: pointer;
  }
  .spacer {
    flex-grow: 1;
  }