
.green-btn {
    background-color: #213321;
    color: #dde8cf;
    border-radius:0.5rem;
    font-size: larger;
    padding:0.rem;
    margin:2rem;
  }
  
  
.learn-more-btn {
background-color: transparent;
    color: #213321;
    border:none;
;
    
  }
  
  .read-more-btn {
    background-color: transparent; 
    color: #ffaf5f; 
    border:none
  
  }
  

  .no-bkg-btn {
    background-color: transparent; 
    color: #000000;
    border: none;

  }
  