footer {
  padding-top: 20px;
  text-align: center;
}

h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

hr {
  border-top: 1px solid white;
  width: 50%;
  margin: 0 auto;
  margin-bottom: 20px;
}

img {
  max-width: 100%;
}

.footer-links-list {
  list-style: none;
  padding: 0;
}

.footer-link{
  margin-bottom: 10px;
}

a {
  color: #fff;
  text-decoration: none;
}
