.new-discussion-input {
    color: var(--wwu-dark-green, #213321);
    font-family: Playfair Display;

}

.new-discussion-posting {
    background: #F7F3E7;
    padding: 20px;
    border-radius:10px;
}

.container {
    margin: 50px;
}


.user-name-discussion {
    display: flex;
    height: 3.0625rem;
    padding: 0.5rem 0.625rem 0.5625rem 0.6875rem;
    justify-content: center;
    align-items: flex-start;
    gap: 14.1875rem;
    border-radius: 0.25rem;
    border: 1px solid #A5B1A6;
    background: #FFF;
    color: #000;
    font-family: Roboto;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    position: relative;
    display: inline-block; 
    width:60% !important;
}

.share{
    width:619px;
height:221px;
border-radius: 0.25rem;
border: 1px solid #A5B1A6;

}  



  svg.new-discussions {
    position: absolute;
    top: 50%; 
    right: 10px;
    transform: translateY(-50%);
  }
  

  .discussion-buttons{
    margin-left:0px;

  }